# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/
*/bin/
*/obj/
*/Debug/

CMakeFiles/
CMakeCache.txt

*/Makefile
cmake_install.cmake
CMakeScripts/
Makefile

*.snap
*/.patch
*.patch

tests/*.cmake
tests/lib
tests/run_tests
tests/CMakeFiles/
tests/CMakeCache.txt
tests/Makefile
tests/cmake_install.cmake
tests/CMakeScripts/
tests/_deps/*
tests/*.log
Testing/
*.tcl