name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: # Specify your branches here
      - main # The 'main' branch
      - 'releases/*' # The release branches

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Install dependencies
        run: sudo apt-get install -y zlib1g-dev libboost-all-dev qtbase5-dev
      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
      - name: Verify compile_commands.json
        run: |
          ls -l build
          cat build/compile_commands.json
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2.1
        with:
          pr-mode: false
          args: --property=qodana.cpp.compilation.database.path=build/compile_commands.json
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_678069308 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
